.card {
  border: 1px solid rgb(var(--foreground-rgb), 0.15);
  border-radius: 8px;
  overflow: hidden;
  background-color: rgb(var(--background-end-rgb));
  margin: 20px 0;
}

.header {
  padding: 20px;
}

.title {
  margin: 0;
  font-size: 1.125rem;
  font-weight: 600;
  color: rgb(var(--foreground-rgb));
}

.content {
  margin: 20px;
}
